<h1>Shopping Cart</h1>
<section class="shopping-cart">
    <div class="product">
       
        <div class="product-properties product-head">
            <p>Product Name</p>
            <p>Quality Price</p>
            <p>Qty</p>
        </div>

    </div>
    <div *ngFor="let product of products"
        class="product"
        [ngClass]="{'none': hide === true}">

        <div class="product-images">
            <img (click)="hideProduct(product.id)" src="{{assetsUrl}}x-img.png" alt="x-img">
            <img src="{{assetsUrl}}{{product.image}}" alt="{{product.image}}">
        </div>
       
        <div class="product-properties">
            <p>{{product.name}}</p>
            <p>${{product.price}}</p>
            <div 
                class="quantity">
                <button (click)="decreaseQuantity(product.id)">-</button>
                <div *ngFor="let cart of cartProduct">
                    <input *ngIf="cart.productId === product.id" type="number" value="{{cart.quantity}}">
                </div>                
                <button (click)="increaseQuantity(product.id)">+</button>
                <img src="{{assetsUrl}}edit-img.png" alt="edit-img">
            </div>
        </div>        
    </div>

    <div class="update-product">
        <button>Update Shopping Cart</button>
    </div>
    
</section>
