:host{

    h1{
        font-size: 21px;
        margin-bottom: 30px;        
        color: #999;
    }

    .shopping-cart{
        width: 800px;
        border: 1px solid #ddd;
        box-shadow:0px 1px 1px #aaa;

        .product{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width:90%;
            margin: 5% auto 0;
            padding-bottom: 3%;
            border-bottom: 1px solid #ddd;
            box-shadow:0px 1px 1px #ddd;             
            color: #999;           

            .product-images{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30%;
            }
            .product-properties{
                display: flex;
                justify-content: space-between;
                width: 70%;
                padding: 0 5% 0 15%;
                font-size: 14px;

                p{
                    width: 35%;
                }

                .quantity{                
                    display: flex; 
                    width: 35%;
                    height:20px;
    
                    button, input, img{  
                        margin: 0;                 
                        width: 25px;
                        height: 25px;
                        border-radius: 0px;   
                        font-size: 12px;
                        text-align: center;                
                        color: #999;
                    }
    
                    button{
                        border: 1px solid #999;
                    }
    
                    button:first-of-type{
                        border-right: none;
                    }
    
                    button:last-of-type{
                        border-left: none;
                    }
    
                }
            }

            .product-head{
                padding-bottom: 3%;
                font-weight: bold;
                color: #555;
            }            
        }  

        .product:first-of-type{
            padding-bottom: 0;
        }
        
        .update-product{
            display: flex;
            justify-content: flex-end;
            width: 90%;
            margin: 2% auto 4%;
            button{
                margin-right: 2%;
                padding: 1%;
                border: 1px solid #999;
                border-radius: 0px;
                background-color: #000;
                color: #fff;
            }
            
        }
    }
}