:host{

    $grey-border: #ddd;
    $grey-font: #999;
    
    h1{
        font-size: 21px;
        margin-bottom: 30px;
        color: $grey-font;
    }

    .shopping-cart{
        width: 60vw;  
        max-width:1280px;      
        border: 1px solid $grey-border;
        box-shadow:0px 1px 1px #aaa;

        .product{
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            align-items: center;
            width:90%;
            margin: 5% auto 0;
            padding-bottom: 3%;
            border-bottom: 1px solid $grey-border;
            box-shadow:0px 1px 1px $grey-border;             
            color: $grey-font;           

            .product-images{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30%;
            }
            .product-properties{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 70%;
                padding: 0 5% 0 15%;
                font-size: 14px;

                p{
                    width: 35%;
                }

                .quantity{                
                    display: flex; 
                    width: 30%;
                    height:20px;
    
                    button, input, img{  
                        margin: 0;                 
                        width: 25px;
                        height: 25px;
                        border-radius: 0px;   
                        font-size: 12px;
                        text-align: center;             
                        color: $grey-font;
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    input[type=number] {
                        -moz-appearance: textfield;
                    }
    
                    button{
                        border: 1px solid $grey-font;
                        cursor: pointer;
                    }
    
                    button:first-of-type{
                        border-right: none;
                    }
    
                    button:last-of-type{
                        border-left: none;
                    }

                    img{
                        cursor: pointer;
                    }
    
                }
            }

            .product-head{
                padding-bottom: 3%;
                font-weight: bold;
                color: #555;
                p:nth-of-type(3){
                    width: 30%;
                }
            }            
        }  

        .product:first-of-type{
            padding-bottom: 0;
        }

        .none{
            display: none;
        }
        
        .update-product{
            display: flex;
            justify-content: flex-end;
            width: 90%;
            margin: 2% auto 4%;
            button{
                margin-right: 2%;
                padding: 1%;
                border: 1px solid $grey-font;
                border-radius: 0px;
                background-color: #000;
                color: #fff;
            }            
        }
    }

    @media (min-width: 1920px) {
        h1{
            font-size: 35px;
            margin-bottom: 55px; 
        }
        .shopping-cart{    
            .product{
                .product-properties{
                    font-size: 24px;    
                    .quantity{
                        height:32px;
        
                        button, input, img{            
                            width: 35px;
                            height: 45px;  
                            font-size: 20px;
                        }        
                    }
                }          
            } 
        }
    }
    
    @media (min-width: 1600px) {
        h1{
            font-size: 28px;
            margin-bottom: 45px; 
        }
        .shopping-cart{    
            .product{
                .product-properties{
                    font-size: 18px;    
                    .quantity{
                        height:26px;
        
                        button, input, img{            
                            width: 35px;
                            height: 35px;  
                            font-size: 16px;
                        }        
                    }
                }          
            } 
        }
    }

    @media (max-width: 996px) {
        h1{
            font-size: 16px;
            margin-bottom: 20px; 
        }
        .shopping-cart{    
            .product{ 
                .product-images{
                    img:nth-of-type(2){
                        width: 100px;
                    }
                }
                .product-properties{
                    font-size: 10px; 
                    p{
                        width: 30%;
                    }   
                    .quantity{
                        height:14px;
        
                        button, input, img{            
                            width: 15px;
                            height: 15px;  
                            font-size: 10px;
                        }        
                    }
                }          
            } 
        }
    }

    @media (max-width: 620px) {
        h1{
            font-size: 12px;
            margin-bottom: 8px; 
        }
        .shopping-cart{    
            .product{ 
                // flex-direction: column;
                // justify-content: center;
                .product-images{
                    width:120px;
                }
                .product-properties{
                    width:200px;
                    margin: 10px 0;
                    padding-left: 20px;
                    padding: 0;
                    font-size:7px;
                    p{
                        width: 25%;
                    }
                }  
                .quantity{
                    width: 25%;
                }        
            }

            .update-product{
                button{
                    font-size: 10px;
                }            
            }
        }
    }

    @media (max-width: 550px) {
        h1{
            font-size: 12px;
            margin-bottom: 8px; 
        }
        .shopping-cart{    
            .product{ 
                .product-images{
                    width:100px;
                    img:nth-of-type(2){
                        width: 80px;
                    }
                }
                .product-properties{
                    width:170px;
                    font-size:6px;  

                    .quantity{
                        height:14px;
        
                        button, input, img{            
                            width: 12px;
                            height: 12px;  
                            font-size: 6px;
                        }  
                    }                      
                }                   
            }

            .update-product{
                button{
                    font-size: 6px;
                }            
            }
        }
    }

    @media (max-width: 480px){
        .shopping-cart{
            width: 92vw;
            .product{ 
                .product-images{
                    width:80px;
                    img:nth-of-type(2){
                        width: 60px;
                    }
                }
                .product-properties{
                    width:160px;
                }                   
            }
        }
    }
    
}

