<h1>Shopping Cart</h1>
<section class="shopping-cart">
    <div class="product">
       
        <div class="product-properties product-head">
            <p>Product Name</p>
            <p>Quality Price</p>
            <p>Qty</p>
        </div>

    </div>
    <div class="product">

        <div class="product-images">
            <img src="{{assetsUrl}}x-img.png" alt="x-img">
            <img src="{{assetsUrl}}headphones.png" alt="headphones">
        </div>
       
        <div class="product-properties">
            <p>Example</p>
            <p>$444</p>
            <div class="quantity">
                <button>-</button>
                <input type="text" value=2>
                <button>+</button>
                <img src="{{assetsUrl}}edit-img.png" alt="edit-img">
            </div>
        </div>        
    </div>

    <div class="update-product">
        <button>Update Shopping Cart</button>
    </div>
    
</section>
