:host{
    .basket{
        display: flex;
        justify-content: space-between;
        width:80vw;
        max-width: 1600px;
        margin: 15vw auto;
    }

    .submit-message{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        p{
            font-size: 16px;
            line-height: 20px;
            color: #00FF00;
            background-color: rgba(#00FF00, 0.4);
            padding: 10px 50px;
            font-weight: bold;
        }        
    }

    @media (max-width: 780px){
        .basket{
            margin: 4vw;
        }
    }

    @media (max-width: 480px){
        .basket{
            flex-direction: column;
            justify-content: center;
        }
    }
   
}